*$py.class
*.Cache
*.cscfg
*.egg-info/
*.log
*.py[cod]
*.suo
*.user
*temp/
.coverage
.coverage*
.cursorrules
.dist/
.DS_store
.env
.idea/
.kreuzberg/
.mypy_cache/
.pytest_cache/
.python-version
.ropeproject
.ruff_cache/
.run/
.venv/
.vscode/
.windsurfrules
__pycache__/
benchmark_results.json
CLAUDE.md
coverage.xml
docker-compose.yaml
GEMINI.md
prompt_template.egg-info/
requirements.txt
