name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install Dependencies
        run: uv sync --all-extras --dev

      - name: Load Cached Pre-Commit Dependencies
        id: cached-pre-commit-dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit/
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Execute Pre-Commit
        run: uv run pre-commit run --show-diff-on-failure --color=always --all-files
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install Dependencies
        run: uv sync --all-extras --dev

      - name: Install System Dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install -y tesseract pandoc
          $env:PATH = "C:\Program Files\Tesseract-OCR;C:\Program Files\Pandoc;" + $env:PATH
          Write-Output $env:PATH

      - name: Install System Dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install -y tesseract-ocr pandoc

      - name: Install System Dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install tesseract pandoc

      - name: Verify Installed Dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          tesseract.exe --version
          pandoc.exe --version

      - name: Verify Installed Dependencies (Linux & macOS)
        if: runner.os != 'Windows'
        run: |
          tesseract --version
          pandoc --version

      - name: Run Tests
        run: uv run pytest tests
